.center {
  margin-left: auto;
  margin-right: auto;
}

a.exit {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  color: Black;
  padding-left: 12px;
  cursor: url('../images/X.png') 22 22, auto; /*22 22 serves to center the image on the cursor; if left out, the pointer will default to the top-left corner of the image.*/
}

a.exit:link {
  color: Black;
  text-decoration: none;
}
a.exit:visited {
  color: Black;
}
a.exit:hover {
  color: LightGrey;
}
a.exit:active {
  color: Black;
}

a.world:link {
  color: #5651A5;
  text-decoration: none;
}
a.world:visited {
  color: #5651A5;
}
a.world:hover {
  color: LightGrey;
}
a.world:active {
  color: #5651A5;
}

a.unlocked:link {
  color: #698A31;
  text-decoration: none;
}
a.unlocked:visited {
  color: #698A31;
}
a.unlocked:hover {
  color: LightGrey;
}
a.unlocked:active {
  color: #698A31;
}

p.exit {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  color: Black;
  padding-left: 12px;
}

table td{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  color: Black;
  padding-left: 12px;
  max-width: 750px;
}

img{
  height: 500px;
  width: auto;
}