@font-face {font-family: Ubuntu-Light; src:	url('Ubuntu-Light.ttf');}

@media (min-width: 300px) and (max-width: 768px) {
  body {
    background-image: url("face-site-landing - F5F5F5 - mobile.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #231f20;
  }
}
@media (min-width: 769px) {
  body {
    background-image: url("face-site-landing - F5F5F5.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #231f20;
  }
}

body {
	font-family: Ubuntu-Light, sans-serif;
	font-size: 1.2em;
	color: WhiteSmoke;
}

p.project{
	font-size: 1.5em;
}

a:link {
	color: WhiteSmoke;
	text-decoration: none;
}
a:visited {
	color: WhiteSmoke
}
a:hover {
	color: LightGrey;
}
a:active {
	color: WhiteSmoke;
}