@font-face {font-family: Ubuntu-Light; src:	url('Ubuntu-Light.ttf');}

body { 
      animation: fadeInAnimation ease 3s; 
      animation-iteration-count: 1; 
      animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
       } 
       100% { 
          opacity: 1; 
       } 
} 

body {
  background-color: #231f20;
  background-image: url('images/Shy.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: right 100px bottom;
  background-size: 50%
}

body {
  font-family: Ubuntu-Light, sans-serif;
  font-size: 1.2em;
  color: WhiteSmoke;
}

p.project{
	font-size: 1.5em;
  padding-left: 10px;
}

a:link {
	color: WhiteSmoke;
	text-decoration: none;
}
a:visited {
	color: WhiteSmoke
}
a:hover {
	color: LightGrey;
}
a:active {
	color: WhiteSmoke;
}