@font-face {font-family: Ubuntu-Light; src:	url('Ubuntu-Light.ttf');}

body {
	font-family: Ubuntu-Light, sans-serif;
	font-size: 1.2em;
	color: Black;
}

img {
	object-fit: scale-down; max-width: 100%
}

a:link {
	color: Black;
	text-decoration: none;
}
a:visited {
	color: Black;
}
a:hover {
	color: LightGrey;
}
a:active {
	color: Black;
}